requests>=2.24.0
pyecharts>=1.9.1
tqdm>=4.66.4
pandas>=1.0.0
numpy
matplotlib
seaborn
Deprecated
scikit-learn
dill
openpyxl
pyarrow
loguru
pytest>=7.0.0
pytest-cov>=4.0.0
tenacity
plotly
parse
streamlit
redis
oss2
statsmodels
cryptography
pytz
scipy
requests_toolbelt
rs_czsc>=0.1.6
clickhouse_connect
ta-lib-everywhere
lightweight-charts
