requests>=2.24.0
pyecharts>=1.9.1
tqdm>=4.66.4
pandas>=1.1.0
numpy>=1.16.5
tushare>=1.4.6
python-docx
matplotlib
seaborn
Deprecated
scikit-learn
dill
openpyxl
pyarrow
loguru
click
pytest
tenacity
plotly
parse
lightgbm
streamlit
redis
oss2
statsmodels
optuna
cryptography
pytz
flask
scipy
requests_toolbelt