requests>=2.24.0
pyecharts>=1.9.1
tqdm>=4.66.4
pandas>=1.1.0
numpy>=1.16.5
tushare>=1.4.6
python-docx>=0.8.11
matplotlib>=3.9.0
seaborn
Deprecated>=1.2.12
scikit-learn>=0.24.1
dill>=0.3.8
openpyxl
pyarrow
loguru>=0.6.0
click>=8.1.7
pytest>=8.2.1
tenacity>=8.1.0
requests-toolbelt>=0.10.1
plotly>=5.11.0
parse>=1.19.0
lightgbm>=4.0.0
streamlit>=1.37.1
redis>=5.0.4
oss2>=2.18.5
statsmodels>=0.14.2
optuna>=3.6.1
cryptography>=42.0.7
czsc>=0.9.58
tqsdk>=3.6.0
pyautogui>=0.9.54
pytz>=2024.1
flask>=3.0.3
setuptools>=68.0.0
scipy>=1.13.1